.services {
    background-color: #1d809f;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.services h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(235, 204, 66);
    margin: 0;
    padding: 0%;
}

.services h2 {
    font-size: 48px;
    color: azure;
    margin-top: 0;
    margin-bottom: 48px;
}

.services>.row h4 {
    font-size: 24px;
    font-family: inherit;
    line-height: 1.2;
    color: inherit;
    color: aliceblue;
}

.services>.row p {
    font-size: 16px;
    color: aliceblue;
}

.services>.row {
    display: flex;
    justify-content: space-around;
}

.services>.row span {
    background-color: azure;
    width: 112px;
    height: 112px;
    display: inline-block;
    border-radius: 50px;
    color: #1d809f;
    font-size: 35px;
    line-height: 121px;
    text-align: center;
}